* {
  font-size: 12px;
}

.card__container {
  width: 230px;
  height: 350px;
  background-color: #383838;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex: 0 0 230px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__content {
  flex: 1 0 auto;
}

.card__title {
  padding: 0 15px;
  text-align: left;
}

.card__text {
  text-align: left;
  padding: 0 15px;
}

.text_green {
  font-weight: 600;
  color: #40ca8a;
}

.text_bold {
  font-weight: 800;
}

.likedBlock {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  flex-shrink: 0;
}

.likedBlock__total {
  display: flex;
  align-items: center;
}

.likedBlock__list {
  display: flex;
  padding: 0;
  margin-right: 5px;
}

.likedBlock__list > li {
  list-style: none;
}

.likedBlock__amount {
  opacity: 0.3;
}

.likedBlock__button {
  cursor: pointer;
  transition: all 0.2s ease;
}

.likedBlock__button:hover {
  transform: scale(1.2);
  fill: #383838;
}
