.search__container {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 30px;
}
.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 10px 10px;
}

.search__content {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: solid 3px blueviolet;
  border-radius: 30px;
  background-color: #fff;
}

.search__img {
  margin-right: 10px;
}

.search__input {
  border: none;
  outline: none;
  font-size: 30px;
  color: goldenrod;
}
